<script setup lang="ts">
import { reactive, computed } from "vue";

const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
const doAdd = function () {
  state.result = parseInt(state.num1) + parseInt(state.num2);
};
</script>

<template>
  <div id="app" class="card">
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="center_text" />
    </div>
    <br />
    <div class="center_text bold_text">+</div>
    <br />
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="center_text" />
    </div>
    <br />
    <div>
      <button class="center_text width100px" @click="doAdd">=</button>
    </div>
    <br />
    <div ref="result" class="center_text">{{ state.result }}</div>
    <div class="center_text">
      {{ state.num1 }} + {{ state.num2 }} = {{ result }}
    </div>
  </div>
</template>

<style></style>
