<script setup lang="ts">
import { ref } from "vue";
const text = ref("Edit me");
const checked = ref(true);
const checkNames = ref(["Jack"]);
const picked = ref("One");
const selected = ref("A");
const multiSelected = ref(["A"]);
</script>

<template>
  <h2>Text Input</h2>
  <input v-model="text" /> {{ text }}

  <h2>Checkbox</h2>
  <input type="checkbox" v-model="checked" id="checkbox" />
  <label for="checkbox">Checked: {{ checked }}</label>
  <br />

  <h2>Multiple Checkbox</h2>
  <input type="checkbox" v-model="checkNames" id="jack" value="Jack" />
  <label for="jack">Jack</label><br />
  <input type="checkbox" v-model="checkNames" id="john" value="John" />
  <label for="john">John</label><br />
  <input
    type="checkbox"
    v-model="checkNames"
    id="ไมค์ ภิรมภรณ์"
    value="ไมค์ ภิรมภรณ์"
  />
  <label for="ไมค์ ภิรมภรณ์">ไมค์ ภิรมภรณ์</label><br />
  <p>Checked Names</p>
  <pre>{{ checkNames }}</pre>
  <br />

  <h2>Radio</h2>
  <input type="radio" id="one" value="One" v-model="picked" />
  <label for="one">One</label> <br />
  <input type="radio" id="two" value="Two" v-model="picked" />
  <label for="two">Two</label> <br />
  <span>Picked: {{ picked }}</span>

  <h2>Select</h2>
  <select v-model="selected">
    <option disabled value="">Please select one</option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
  </select>
  <br />
  <span>Selected: {{ selected }}</span>
  <br />

  <h2>Multi Select</h2>
  <select v-model="multiSelected" multiple style="width: 100px">
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br />
  <span>Selected: {{ multiSelected }}</span>
</template>

<style scoped></style>
