<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldEx from "./components/HelloWorldEx.vue";
import HandlingUser from "./components/HandlingUser.vue";
import AttributeBind from "./components/AttributeBind.vue";
import ConditionAndLoop from "./components/ConditionAndLoop.vue";
import FormBind from "./components/FormBind.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br /><br /><br />
    <FormBind />
    <br /><br /><br />

    <ConditionAndLoop />
    <br /><br /><br />
    <AttributeBind></AttributeBind>
    <br /><br /><br />
    <HandlingUser></HandlingUser>
    <br /><br /><br />

    <CalComponent></CalComponent>
    <br /><br /><br />
    <HelloWorldEx></HelloWorldEx>
    <br /><br /><br />
  </div>
</template>

<style scoped>
.center_text {
  text-align: center;
  font-size: 20pt;
  margin: 5px;
}

.bold_text {
  font-weight: bold;
}

.card {
  padding: 10px;
  border-style: solid;
  width: 400px;
  text-align: center;
}

.width100px {
  width: 100px;
}
</style>
